.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  img {
    display: block;
    max-height: 80px;
  }

  .nav-bar {
    text-align: center;
  }

  .router-link {
    display: inline-flex;
    padding: 0.25em 2em;
    margin: 1em;
    text-decoration: none;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #41ADDD;
    color: #41ADDD;

    &:active {
      background: #41ADDD;
      color: #FFF;
    }
  }
}
