.data-display {
    input[type='checkbox'] {
        margin: 0 4px;
    }

    ul {
        li {
            display: inline-flex;
            padding: 0.25em 2em;
            margin: 1em;
            text-decoration: none;
            border-radius: 4px;
            -webkit-font-smoothing: antialiased;
            -webkit-touch-callout: none;
            user-select: none;
            cursor: pointer;
            outline: 0;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            border: 2px solid #41addd;
            color: #41addd;

            &:active {
                background: #41addd;
                color: #fff;
            }

            margin: 8px;
            padding: 8px;
            border-radius: 2px;
        }

        list-style: none;
    }

    .tab-header {
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}
