.town-input {

    h2 {
        font-size: 1.5em;
    }

    section {
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:first-child {
            margin-top: 0;
        }

        &.centered {
            text-align: center;
        }
    }

    form {
        flex: 1;
        margin-bottom: 1em;
        margin: 0 20px;
        display: flex;
        flex-direction: column;

        textarea {
            width: 100%;
            display: flex;
            outline: none;
            min-height: 40vh;
            border-bottom: 1px dotted #999;
        }

        button {
            padding: 4px;
            margin-top: 20px;
            border-radius: 2px;
            border: 1px solid darkblue;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    span.at-prefix {
        color: black;
        margin-left: 0.4em;
    }
}
